CLAUDE.md
.claude/
node_modules
frontend/dist/
.env
server/zkp/tmp/
server/zkp/input/
server/zkp/circomlib/
server/zkp/build/circuit_0000.zkey
*.ptau
zk-vote-key.pem
build_3
test-proof-generator.js

# Hardhat files
/cache
#/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
